<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--<connectionStrings>
                        <add name="ApplicationServices"
                                    connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
                                    providerName="System.Data.SqlClient" />
            </connectionStrings>  -->
	<appSettings>
		<add key="ConnectionString" value="Data Source=202.84.34.90\web;User ID=sa;Password=792f1605151a1113165f2d;Initial Catalog=FAST;Integrated Security=True;MultipleActiveResultSets=Yes"/>
		<add key="ConnectionString2" value="Data Source=202.84.34.90\web;User ID=sa;Password=Novartis1@;Initial Catalog=FAST;Connection Timeout=0"/>
    
    <add key="DMRCardAttachement" value="\\gxbdda-S3032\DMRCardAttachement\"/>

    <!--<add key="ConnectionString" value="Data Source=GXBDDA-S3035\FAST;User ID=sa;Password=792f1605151a1113165f2d;Initial Catalog=FAST_Test;Integrated Security=True;MultipleActiveResultSets=Yes"/>
    <add key="ConnectionString2" value="Data Source=GXBDDA-S3035\FAST;User ID=sa;Password=Novartis1@;Initial Catalog=FAST_Test;Connection Timeout=0"/>-->

    <add key="SQLSyntax" value="SQL"/>
	</appSettings>
	<connectionStrings/>
	<system.web>

		<compilation debug="true" targetFramework="4.0">
		</compilation>

		<httpRuntime minFreeThreads="704" minLocalRequestFreeThreads="608" executionTimeout="240" maxRequestLength="104857600"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="OCPWS.asmx"/>
			</files>
		</defaultDocument>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<system.web>

		<webServices>

			<protocols>

				<add name="HttpGet"/>
				<add name="HttpPost"/>

			</protocols>
		</webServices>
	</system.web>

</configuration>
